In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('Data.csv')

      Feature1  Feature2  Feature3  Feature4  Target
0           63        59      1164        -3      39
1           89        54       977        -2      54
2           73        46       725        -1      88
3           25        52       921         0      70
4           60        60      1222         0      91
...        ...       ...       ...       ...     ...
9995        59        62      1286         1      37
9996        87        62      1288         2      54
9997        88        51       877         0      65
9998        65        41       584         2      94
9999        12        40       562        -3      94

[10000 rows x 5 columns]

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('RegressionPrediction').getOrCreate()

In [5]:
spark

In [6]:
df = spark.read.csv('Data.csv')

In [7]:
df.show()

+--------+--------+--------+--------+------+
|     _c0|     _c1|     _c2|     _c3|   _c4|
+--------+--------+--------+--------+------+
|Feature1|Feature2|Feature3|Feature4|Target|
|      63|      59|    1164|      -3|    39|
|      89|      54|     977|      -2|    54|
|      73|      46|     725|      -1|    88|
|      25|      52|     921|       0|    70|
|      60|      60|    1222|       0|    91|
|      26|      41|     583|       1|    77|
|      43|      50|     855|       1|    82|
|      56|      52|     924|       0|    91|
|      82|      40|     551|      -1|    86|
|      79|      54|     983|       0|    66|
|      11|      42|     609|      -2|    68|
|      76|      63|    1329|       0|    48|
|      11|      63|    1352|      -3|    93|
|      21|      43|     633|       2|    55|
|      57|      67|    1514|       2|    75|
|      56|      50|     853|      -1|    82|
|      52|      49|     824|      -2|    95|
|      24|      55|    1017|      -1|    37|
|      77|      46|     716|       1|    63|
+--------+--------+--------+--------+------+
only showing top 20 rows

In [8]:
df=spark.read.option('header','true').csv('Data.csv').show()

+--------+--------+--------+--------+------+
|Feature1|Feature2|Feature3|Feature4|Target|
+--------+--------+--------+--------+------+
|      63|      59|    1164|      -3|    39|
|      89|      54|     977|      -2|    54|
|      73|      46|     725|      -1|    88|
|      25|      52|     921|       0|    70|
|      60|      60|    1222|       0|    91|
|      26|      41|     583|       1|    77|
|      43|      50|     855|       1|    82|
|      56|      52|     924|       0|    91|
|      82|      40|     551|      -1|    86|
|      79|      54|     983|       0|    66|
|      11|      42|     609|      -2|    68|
|      76|      63|    1329|       0|    48|
|      11|      63|    1352|      -3|    93|
|      21|      43|     633|       2|    55|
|      57|      67|    1514|       2|    75|
|      56|      50|     853|      -1|    82|
|      52|      49|     824|      -2|    95|
|      24|      55|    1017|      -1|    37|
|      77|      46|     716|       1|    63|
|      23|      60|    1213|      -1|    48|
+--------+--------+--------+--------+------+
only showing top 20 rows

In [9]:
df=spark.read.csv('Data.csv',header=True,inferSchema=True)
df.show()

+--------+--------+--------+--------+------+
|Feature1|Feature2|Feature3|Feature4|Target|
+--------+--------+--------+--------+------+
|      63|      59|    1164|      -3|    39|
|      89|      54|     977|      -2|    54|
|      73|      46|     725|      -1|    88|
|      25|      52|     921|       0|    70|
|      60|      60|    1222|       0|    91|
|      26|      41|     583|       1|    77|
|      43|      50|     855|       1|    82|
|      56|      52|     924|       0|    91|
|      82|      40|     551|      -1|    86|
|      79|      54|     983|       0|    66|
|      11|      42|     609|      -2|    68|
|      76|      63|    1329|       0|    48|
|      11|      63|    1352|      -3|    93|
|      21|      43|     633|       2|    55|
|      57|      67|    1514|       2|    75|
|      56|      50|     853|      -1|    82|
|      52|      49|     824|      -2|    95|
|      24|      55|    1017|      -1|    37|
|      77|      46|     716|       1|    63|
|      23|      60|    1213|      -1|    48|
+--------+--------+--------+--------+------+
only showing top 20 rows

In [10]:
df.columns

['Feature1', 'Feature2', 'Feature3', 'Feature4', 'Target']

In [11]:
df.head(3)

[Row(Feature1=63, Feature2=59, Feature3=1164, Feature4=-3, Target=39),
 Row(Feature1=89, Feature2=54, Feature3=977, Feature4=-2, Target=54),
 Row(Feature1=73, Feature2=46, Feature3=725, Feature4=-1, Target=88)]

In [12]:
df.show()

+--------+--------+--------+--------+------+
|Feature1|Feature2|Feature3|Feature4|Target|
+--------+--------+--------+--------+------+
|      63|      59|    1164|      -3|    39|
|      89|      54|     977|      -2|    54|
|      73|      46|     725|      -1|    88|
|      25|      52|     921|       0|    70|
|      60|      60|    1222|       0|    91|
|      26|      41|     583|       1|    77|
|      43|      50|     855|       1|    82|
|      56|      52|     924|       0|    91|
|      82|      40|     551|      -1|    86|
|      79|      54|     983|       0|    66|
|      11|      42|     609|      -2|    68|
|      76|      63|    1329|       0|    48|
|      11|      63|    1352|      -3|    93|
|      21|      43|     633|       2|    55|
|      57|      67|    1514|       2|    75|
|      56|      50|     853|      -1|    82|
|      52|      49|     824|      -2|    95|
|      24|      55|    1017|      -1|    37|
|      77|      46|     716|       1|    63|
|      23|      60|    1213|      -1|    48|
+--------+--------+--------+--------+------+
only showing top 20 rows

In [13]:
df.dtypes

[('Feature1', 'int'),
 ('Feature2', 'int'),
 ('Feature3', 'int'),
 ('Feature4', 'int'),
 ('Target', 'int')]

In [14]:
df.na.drop().show()

+--------+--------+--------+--------+------+
|Feature1|Feature2|Feature3|Feature4|Target|
+--------+--------+--------+--------+------+
|      63|      59|    1164|      -3|    39|
|      89|      54|     977|      -2|    54|
|      73|      46|     725|      -1|    88|
|      25|      52|     921|       0|    70|
|      60|      60|    1222|       0|    91|
|      26|      41|     583|       1|    77|
|      43|      50|     855|       1|    82|
|      56|      52|     924|       0|    91|
|      82|      40|     551|      -1|    86|
|      79|      54|     983|       0|    66|
|      11|      42|     609|      -2|    68|
|      76|      63|    1329|       0|    48|
|      11|      63|    1352|      -3|    93|
|      21|      43|     633|       2|    55|
|      57|      67|    1514|       2|    75|
|      56|      50|     853|      -1|    82|
|      52|      49|     824|      -2|    95|
|      24|      55|    1017|      -1|    37|
|      77|      46|     716|       1|    63|
|      23|      60|    1213|      -1|    48|
+--------+--------+--------+--------+------+
only showing top 20 rows

In [17]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Feature1","Feature2", "Feature3", "Feature4"],outputCol="Independent Features")

In [18]:
output=featureassembler.transform(df)

In [19]:
output.show()

+--------+--------+--------+--------+------+--------------------+
|Feature1|Feature2|Feature3|Feature4|Target|Independent Features|
+--------+--------+--------+--------+------+--------------------+
|      63|      59|    1164|      -3|    39|[63.0,59.0,1164.0...|
|      89|      54|     977|      -2|    54|[89.0,54.0,977.0,...|
|      73|      46|     725|      -1|    88|[73.0,46.0,725.0,...|
|      25|      52|     921|       0|    70|[25.0,52.0,921.0,...|
|      60|      60|    1222|       0|    91|[60.0,60.0,1222.0...|
|      26|      41|     583|       1|    77|[26.0,41.0,583.0,...|
|      43|      50|     855|       1|    82|[43.0,50.0,855.0,...|
|      56|      52|     924|       0|    91|[56.0,52.0,924.0,...|
|      82|      40|     551|      -1|    86|[82.0,40.0,551.0,...|
|      79|      54|     983|       0|    66|[79.0,54.0,983.0,...|
|      11|      42|     609|      -2|    68|[11.0,42.0,609.0,...|
|      76|      63|    1329|       0|    48|[76.0,63.0,1329.0...|
|      11|      63|    1352|      -3|    93|[11.0,63.0,1352.0...|
|      21|      43|     633|       2|    55|[21.0,43.0,633.0,...|
|      57|      67|    1514|       2|    75|[57.0,67.0,1514.0...|
|      56|      50|     853|      -1|    82|[56.0,50.0,853.0,...|
|      52|      49|     824|      -2|    95|[52.0,49.0,824.0,...|
|      24|      55|    1017|      -1|    37|[24.0,55.0,1017.0...|
|      77|      46|     716|       1|    63|[77.0,46.0,716.0,...|
|      23|      60|    1213|      -1|    48|[23.0,60.0,1213.0...|
+--------+--------+--------+--------+------+--------------------+
only showing top 20 rows

In [20]:
output.columns

['Feature1',
 'Feature2',
 'Feature3',
 'Feature4',
 'Target',
 'Independent Features']

In [21]:
finalized_data=output.select("Independent Features","Target")

In [22]:
finalized_data.show()

+--------------------+------+
|Independent Features|Target|
+--------------------+------+
|[63.0,59.0,1164.0...|    39|
|[89.0,54.0,977.0,...|    54|
|[73.0,46.0,725.0,...|    88|
|[25.0,52.0,921.0,...|    70|
|[60.0,60.0,1222.0...|    91|
|[26.0,41.0,583.0,...|    77|
|[43.0,50.0,855.0,...|    82|
|[56.0,52.0,924.0,...|    91|
|[82.0,40.0,551.0,...|    86|
|[79.0,54.0,983.0,...|    66|
|[11.0,42.0,609.0,...|    68|
|[76.0,63.0,1329.0...|    48|
|[11.0,63.0,1352.0...|    93|
|[21.0,43.0,633.0,...|    55|
|[57.0,67.0,1514.0...|    75|
|[56.0,50.0,853.0,...|    82|
|[52.0,49.0,824.0,...|    95|
|[24.0,55.0,1017.0...|    37|
|[77.0,46.0,716.0,...|    63|
|[23.0,60.0,1213.0...|    48|
+--------------------+------+
only showing top 20 rows

In [23]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.80,0.20])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Target')
regressor=regressor.fit(train_data)

In [24]:
### Coefficients
regressor.coefficients

DenseVector([0.0381, -9.3708, 0.2582, -0.0527])

In [25]:
### Intercepts
regressor.intercept

307.35535086551823

In [26]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [27]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Target|        prediction|
+--------------------+------+------------------+
|[10.0,40.0,555.0,...|    68| 76.15343363221032|
|[10.0,41.0,575.0,...|    47|  71.9992945596916|
|[10.0,42.0,605.0,...|    59| 70.53246489805232|
|[10.0,44.0,661.0,...|    53| 66.14468336623534|
|[10.0,46.0,729.0,...|    73| 64.85527364607816|
|[10.0,48.0,788.0,...|    67|61.505417320083495|
|[10.0,49.0,821.0,...|    67| 60.54984835845181|
|[10.0,49.0,824.0,...|    74|  61.2191084102038|
|[10.0,50.0,850.0,...|    53| 58.56148879293343|
|[10.0,53.0,950.0,...|    45| 56.37431116366179|
|[10.0,53.0,955.0,...|    60| 57.71796586910153|
|[10.0,53.0,966.0,...|    95| 60.66347293095268|
|[10.0,53.0,966.0,...|    94|  60.5054735792082|
|[10.0,54.0,988.0,...|    51| 56.76239690746982|
|[10.0,54.0,997.0,...|    79|59.086175766214666|
|[10.0,58.0,1141.0...|    61|  58.7836033359994|
|[10.0,60.0,1211.0...|    37| 58.16858826953006|
|[10.0,61.0,1252.0...|    37|59.278600515671485|
|[10.0,61.0,1258.0...|    56|  60.8277864215014|
|[10.0,62.0,1290.0...|    31| 59.93001851238688|
+--------------------+------+------------------+
only showing top 20 rows

In [28]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(16.57165945088772, 378.05515938022984)